.titel{
    height: 70px;
}
.imgaround{
    border-radius: 50%;
}
.img1{
    width: 50px;
    height: 50px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
a{
    color: gray;
      text-decoration: none;
      margin-top: 15px;
      text-align: center;
      margin: 10px;
}
nav{
      display: flex;
      justify-content: center;
}
.link{
      height: 50px;
      background-color: rgb(228, 228, 228);
      position: sticky;
      top: 0px;
}

h1{
    color: rgb(127, 127, 231);
}
p{
    width: 370px;
}
input{
    width: 370px;
}
textarea{
    width: 370px;
    height: 80px;
}
button{
    color: white;
    background-color: blue;
    border-style: none;

}
footer{
    background-color: rgb(219, 219, 219);
    text-align: center;
}
.black{
    font-weight: normal;
}
